@using DazzyCart.Models

@{
    ViewBag.Title = "Form";
}
<div style="margin-top: 40px;">
</div>
<div class="panel panel-primary col-lg-push-4 col-lg-3">
    <h2 class="panel-heading" style="background-color: #BA9157">Add Products </h2>
    <div class="panel-body " style="display: flex; justify-content: center">
        <form action="/Home/Index" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Id"  />
            <div class="form-group">
                <label for="name">Product Name :</label>
                <input type="text" class="form-control" id="name" name="Name">
            </div>
            
            <div class="form-group">
                <label for="desc">Product Description :</label>
                <input type="text" class="form-control" id="desc" name="Description">
            </div>
            <div class="form-group">
                <label for="url">OLX URL :</label>
                <input type="text" class="form-control" id="url" name="Url">
            </div>
            <div class="form-group">
                <label for="price">Product Price :</label>
                <input type="number" class="form-control" id="price" name="Price">
            </div>
            <div class="form-group">
                <label for="img">Product Image :</label>
                <input type="file" class="form-control" id="img" name="file" accept="image/png , image/gif, image/jpeg">
            </div>
            

            <button type="submit" class="btn btn-warning" style="background-color: #BA9157">Add Now</button>
            
            

        </form>
    </div>
</div>