@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/style2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Login Form </title>
    
</head>
<body>
<div class="container  col-xs-12 col-md-12 col-lg-12 col-sm-12" id="container">
    <div class="form-container log-in-container">
        <form action="/Home/LoginPage" method="post">
            <h1 style="margin-top: 25px">Login</h1>
            <div class="social-container" style="margin-bottom: 15px; margin-top: 25px">
                <a href="#" class="social" style="width: 30px;height:30px"><i class="fa fa-facebook fa-1x" style="width: 10px;height:10px"></i></a>
                <a href="#" class="social" style="width: 30px;height:30px"><i class="fab fa fa-twitter fa-1x" style="width: 10px;height:10px"></i></a>
            </div>
            <span style="font-size:10px">or use your account</span>
            <input type="hidden" name="Id" />
            <input type="email" placeholder="Email" name="Email" style="margin-top: 5px; " />
            <input type="password" placeholder="Password" name="Password" />
            @if (ViewBag.Error != "")
            {
                <p style="color: red; font-size: 10px; margin-top: 0px">@ViewBag.Error</p>
            }
            <a href="#" style="margin-top: 0px; padding-top: 0px; font-size: 12px">Forgot your password?</a>
            <button type="submit">Log In</button>
            <a href="#" style="font-size: 10px; font-weight: 400; text-decoration: underline; color: #FF4B2B">Sign up here</a>
           
        </form>
    </div>
    <div class="overlay-container  col-xs-12 col-md-12 col-lg-12 col-sm-12">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h2 style="margin-left:10px">Dazzy Cart</h2>
                <p style="margin-left:0px">This e-commerce management System is made By Muhammad Rameez.</p>
                <p style="margin-top: 5px; margin-left: 10px; font-size: 10px">muhammadrmz871@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>