@using DazzyCart.Models
@model Products
@{
    ViewBag.Title = "ProductDetails";
}

<div style="margin-top: 30px" class="col-lg-12">
    <div class="col-lg-push-1 col-lg-5" style="margin-top: 40px">
        <img src="~/dbImage/@Model.Image" height="auto" width="450px"/>
    </div>
    <div class="col-lg-6">
        <h1 style="font-family: fantasy">ProductDetails</h1>

        <h3 style="font-family: cursive"><a href="@Model.Url" style="color: #FAB811">More Information on OLX</a> </h3>
        <h3 style="font-family: cursive">Product Name: &nbsp; <span style="font-family: 'Lora', sans-serif; font-size: 35px; color: #285584; font-weight: bolder">@Model.Name</span></h3>
        <h3 style="font-family: cursive">Product Price: &nbsp; <span style="font-family: 'Lora', sans-serif; font-size: 35px; color: #285584; font-weight: bolder">@Model.Price Rs</span></h3>
        <h3 style="font-family: cursive">Product Description: <i class='fas fa-level-down-alt'></i></h3>
       
    </div>



</div>
<div class="col-lg-push-1 col-lg-10" style="margin-top: 30px; margin-bottom: 30px">
    <pre style="font-family: 'Lora', sans-serif; font-size: 25px; color: #285584; font-weight: bold">
    @Model.Description
</pre>
</div>